// @import '../../style/variables.scss';

.app{
    &__header{
        display: flex;
        justify-content: space-between;
        // border: solid red;
    }

    &__title{
        img{
            width: 350;
            height: 100px;
        }
    }
    // nav
    &__menu{
        ul{
            display: flex;
            justify-content: space-between;
            font-weight: 700;
            font-size: 24px;
            line-height: 32px;
            padding-top: 35px;

            li{
                margin: 0 8px;
                list-style: none;
                padding-right: 1.5rem;
                a:hover{
                    color: blue;
                }
            }
        }
        .nav-link {
            text-decoration: none;
            background-color: white;
            color: #0E1333;
            // font-family: 'Gilroy-ExtraBold';
            // font-size: 18px;
            // display: flex;
            // flex-direction: row;
            // justify-content: center;
            // align-items: center;
            // height: 100%;
            // padding-left: 25px;
            // padding-right: 25px;
          }
          
          .nav-link:hover, .active:hover {
            // background-color: #0E1333;
            color: #d86201e8;
          }
          
          .active {
            color: #252525;
            // border-bottom: solid 2.5px #0E1333;
            // padding-bottom: 2.5rem;
          }
    }
}