.app{
    // height: 100vh;
    // overflow-y: scroll;
    // background: url('../../assets/hero_bg.jpg') center / cover no-repeat;
    // margin: auto 100px;
}
.content{
    display: grid;
    // grid-template-columns: 560px 440px;
    max-width: 1620px;
    margin: 0 auto;
    // margin: auto 100px;
    padding-top: 20px;
    display: block;
}
