$primary: #11998e;
$secondary: #38ef7d;
$white: #fff;
$gray: #9b9b9b;

.f {
  max-width: 30rem;
  // border: 3px solid rgba(51, 104, 97, 0.856);
  padding: 20px;
  // background-color: #f5eded;
  // margin: auto 300px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
  min-height: 10vh;
  // margin-bottom: 1rem;
  position: relative;
  // padding: 15px 0 0;
  // margin-top: 10px;
  font-family: 'Poppins', sans-serif
}

.formField {
  // padding: 0.5rem;
  font-family: inherit;
  width: 100%;
  border: 2px solid rgb(117, 117, 117);
  // border-bottom: 2px solid $gray;
  outline: 0;
  font-size: 1.3rem;
  color: rgba(0, 0, 0, 0.349);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
    // color: rgb(136, 136, 136);
  }

  &:placeholder-shown ~ .formLabel {
    font-size: 1.3rem;
    cursor: text;
    top: 25px;
  }
}
.formLabel{
  position: absolute;
  top: -6px;
  display: block;
  transition: 0.4s;
  font-size: 1rem;
  color: $gray;
  // opacity: 0.1;
}
.formField:focus {
  ~ .formLabel {
    position: absolute;
    top: -6px;
    display: block;
    transition: 0.4s;
    font-size: 1rem;
    color: $primary;
    font-weight:700;    
    // opacity: 1;
  }
  padding-bottom: 6px;  
  font-weight: 700;
  border-width: 3px;
  border-image: linear-gradient(to right, $primary,$secondary);
  border-image-slice: 1;
  box-shadow: 0 0 5px #79e9a494;

  &::placeholder {
    color: transparent;
    transition: all 0.3s ease;
    // color: rgb(136, 136, 136);
  }
}

.formField{
  &:required,&:invalid { box-shadow:none; }
}

.formFieldError {
  border: 1px solid #e11d48;
}

.formFieldErrorMessage {
  color: #e11d48;
}

// .formActions {
//   display: flex;
//   justify-content: flex-end;
// }

.formSubmitBtn {
  padding: 0.5rem 0.7rem;
  min-width: 5rem;
  background-color: #9333ea;
  color: #f3e8ff;
  text-transform: uppercase;
  font-weight: 500;
}
.btns{
  margin-top: 1.5rem;
  button{
    position: absolute!important;
    right: 63px;
    bottom: 26px;
  }
}
