.css-1ex1afd-MuiTableCell-root{
    padding: 0!important;
    width: 16%;
}
.css-d9l1z9-MuiTableCell-root{
    padding: 10px 0!important;
}
.css-1ygcj2i-MuiTableCell-root{
    padding: 16px 0 16px 16px!important;
}
.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input{
    padding: 16px 5px 16px 3px!important;
}
.css-1ex1afd-MuiTableCell-root, .css-d9l1z9-MuiTableCell-root{
    padding-left: 16px!important;
}
