.page__header h4 {
    font-weight: 700;
    color: #1d252ee0;
    font-size: 23px;
  }
  .page__header h6 {
    font-size: 16px;
    color: #555;
    font-weight: 400;
  }


.card-body{
    padding: 30px 0;
    border: solid red1;
}
.css-1mg661y-MuiStack-root{
    display: grid!important;
    grid-template-columns: 400px 400px!important;
    grid-gap: 35px!important;
    // border: solid red;
}

.css-1mg661y-MuiStack-root>:not(style)+:not(style){
    margin-top: 0!important;
}
// .css-1t1j96h-MuiPaper-root-MuiDialog-paper
.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
    width: 60rem;
    max-width: 950px!important;
    max-height: none;
}
.btn-added{
    background: #FF9F43!important;
    padding: 10px 15px!important;
    color: rgba(255, 255, 255, 0.918)!important;
    font-weight: 700!important;
    font-size: 14.45px!important;
    transition: all .2s ease;
    border-radius: 3px!important;
    border: 1px solid rgb(245, 188, 123)!important;
}
.btn-added:hover{
    background: #1B2850!important;
    color: #fff;
}
.btn-added img{
    filter: brightness(0) invert(1)!important;
    height: 30px!important;
    width: 25px!important;
    padding-bottom: 4px!important;
}
.modalAction{
    // min-width: 120px;
    // background: #ff9f43;
    // color: #fff;
    // font-size: 14px;
    // font-weight: 700;
    // padding: 14px 10px;
    // transition: all .2s ease;
    border: solid red;
}
.action{
    border: solid red
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    // background-color: transparent;
    line-height: 1.75;
    // min-width: 64px;
    // padding: 6px 8px;
    // color: #fff;
    min-width: 140px!important;

    background: #ff9f43!important;
    color: #fff!important;
    // font-size: 14px;
    // font-weight: 700;
    padding: 10px 10px!important;
    // transition: all .2s ease;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover{
    background: #fe820e!important;
}
